/*index*/
body {
  background-color: rgba(255, 255, 255, 1);
  font-family: 'Roboto','Arial', sans-serif;
}
.root {
  background-color:  rgba(47, 48, 58, 1);
}
footer{
  background: rgba(47, 48, 58, 1);
  line-height: 1.7em;
}
.titulo-soluciones{
  font-size: 44px;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
}
.boton-uno{
  font-weight: 700;
  font-size: 16px;
  background-color:rgba(33, 150, 243, 1);
  color:rgba(255, 255, 255, 1);
  border:none;
  border-radius: 2px;
  cursor: pointer;
  line-height: 1.8em;
}
.root{
  line-height: 3em;
}
main{
  line-height: 1.7em;
}
.titulo-dos{
  font-size: 36px;
  line-height: 1em;
}
.index-title{
  cursor: pointer;
  text-transform: uppercase;
   color: rgba(33, 33, 33, 1)
}
.link{
  text-decoration: none;
  line-height: 1.5em;
}
.index-title:hover, .index-text:hover{
color: rgba(33, 150, 243, 1)
}
.nombre, .texto-nombre{
  line-height: 1.1em;
}
.nombre:hover, .texto-nombre:hover{
  color:rgba(33, 150, 243, 1)
}
/*portafolio*/
header{
  line-height: 1,7em;
}

.titulo-principal {
  font-family: raleway;
  font-size: 26px;
  text-decoration: none;
  color:  rgba(33, 150, 243, 1);
}
.enlace-studio, .enlace-portafolio, .enlace-contacto {
  font-weight: 500;
  text-decoration: none;
  color: rgba(33, 33, 33, 1);
  cursor: pointer;
}
.enlace-studio:focus, .enlace-portafolio:focus{
  color:rgba(33, 150, 243, 1)
}
.enlace-studio:hover, .enlace-portafolio:hover, .enlace-contacto:hover {
  color: rgba(33, 150, 243, 1);
}
.contacto {
  text-decoration: none;
  color: #757575;
  cursor: pointer;

}
.contacto:hover{
  color: rgba(33, 150, 243, 1);
}
.section-portafolio {
 line-height: 2em;
}
.boton-type, .boton-type-todo {
  font-weight: 700;
  color: rgba(33, 33, 33, 1);
  border: none;
  border-radius: 2px;
  cursor: pointer;
}
.boton-type-todo{
  background-color: rgba(33, 150, 243, 1);
}
.boton-type:hover, .boton-type-todo:hover {
  background: rgba(33, 150, 243, 1);
  color: rgba(255, 255, 255, 1);
 
}
.portafolio-title, .portafolio-text {
  font-size: 18px;
  text-decoration: none;
color: rgba(33, 33, 33, 1);
cursor: pointer;
}
.portafolio-title:hover, .portafolio-text:hover{
 color: rgba(33, 150, 243, 1);
}
.direccion{ 
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  cursor: pointer;
}
.direccion:hover{
color:rgba(33, 150, 243, 1)
}