/*index*/

.body {
  background-color: rgba(255, 255, 255, 1);
  font-family: roboto, raleway;
}
.titulo{
  font-family: roboto;
  font-weight: 900px;
  font-size: 44px;
  color: rgba(255, 255, 255, 1);
}
.boton-uno{
  font-family: roboto;
  font-weight: 700;
  font-size: 16px;
  background-color:rgba(33, 150, 243, 1);
  color:rgba(255, 255, 255, 1);
  border:none;
  border-radius: 2px;
}
.titulo-dos{
  font-family: roboto;
  font-weight: 700;
  font-size: 36px;
}
.nombre{
  font-family: roboto;
  font-weight: 500;
  font-size: 16px;
}

/*portafolio*/

.enlace-principal {
  font-family: raleway;
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
  color:  rgba(33, 150, 243, 1);
}
.enlace {
  font-family: roboto;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  color: rgba(33, 33, 33, 1);
}
.enlace:active {
  color: rgba(33, 150, 243, 1);
}
.contacto {
  font-family: roboto;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  color: #757575;
}
.contacto:active{
  color: rgba(33, 150, 243, 1);
}
.boton {
  font-family: roboto;
  font-weight: 500;
  font-size: 16;
  color: rgba(33, 33, 33, 1);
  border: none;
  border-radius: 2px;
}
.boton:hover {
  background: rgba(33, 150, 243, 1);
  color: rgba(255, 255, 255, 1);
 
}
.proyectos {
  font-family: roboto;
  font-weight: 700;
  font-size: 16;
  color: rgba(33, 33, 33, 1);
}
.texto {
  font-family: roboto;
  font-weight: 400;
  font-size: 16px;
}

.direccion{ 
  font-family: roboto;
  font-weight: 400;
  font-size: 14px ;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}
.pie-de-pagina {
  background-color: rgba(47, 48, 58, 1);

}